<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- static 폴더 참조 -->
    <!-- 원그래프 js는 각 페이지에서 소환해야됨 (일회성 호출이라서.) -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- favicon -->
    <link rel="icon" href="../static/img/favicon.ico">

    <!-- 웹 참조-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e8a335040d.js" crossorigin="anonymous"></script>

    <!-- 웹 폰트 참조-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

    <title>Please Graduate</title>
</head>


<!-- 헤드 !!!!!!!!!!!!! -->
<body>
    <!-- 로고 / 메뉴바-->
    <nav class="navbar">
        <div class="navbar_logo">
            <a href="#"><img src="../static/img/logo.png"></a>
        </div>

        <ul class="navbar_menu">
            <li>
                <a href='#'>피드백하기</a>
            </li>
            <li>
                <a href='#'>로그인</a>
            </li>
        </ul>
        <a href="#" class="navbar_toggle">
            <i class="fas fa-bars"></i>
        </a>
    </nav>

<!----------------------------------------------- block content -------------------------------------------------------------->

    <!-- 메인 -->
    <header class="main_bg">
        <!-- 세종대 로고 -->
        <div class="sejong_logo"></div>
        <!-- 소개 문구 -->
        <div class="bg_text_btn">
            <div class="bg_small_text fadein_text">
                세종인을 위한 간편한 졸업요건 검사 사이트
            </div>
            <div class="bg_big_text fadein_text">
                Please Graduate
            </div>
            <div class="bg_btn">
                <button class="bg_btn_style">검사하기</button>
            </div>
        </div>
    </header>

<!----------------------------------------------- block content -------------------------------------------------------------->

    <!--푸터-->
    <footer class="footer">
        <ul class="footer_list">
            <li>
                - Contact -
            </li>
            <li>
                Email : hanjo8813@gmail.com
            </li>
            <li>
                GitHub : https://github.com/hanjo8813/SGH_for_AWS
            </li>
        </ul>
        <h2 class="copyright">Copyright
            <i class="far fa-copyright"></i>
            2021 PleaseGraduate team <br>
            강전호, 강홍구, 권정현, 안재현, 한재원
        </h2>
    </footer>

</body>


</html>